.body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color:black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 14px;

}
.navbar{
  margin: auto;
  display: flex;
  font-weight: 700;
  width: 80%;
  height: 50px;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 50px;
}
.navbarElement{
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.navbarElement::after{
  content: '';
  margin-top: 8px;
  width: 100px;
  height: 2px;
  background-color: #FF3535;
  transition: transform 0.4s ease-in-out;
}

.navbarElement:hover::after{
  transform: translatey(-6px);
}
.mainSection{
  width:80%;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: gainsboro;
}
.device{
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items:center;
  font-size: 14px;
  background-color: #363636;
  border: 2px solid #363636;
}

.title{
  font-weight: 700;
  font-size: 16px;
  margin-top: -1px;
}
.data{
  line-height: 27px;
}
.lastUse{
  font-size: 10px;
  margin-top: -1px;
}
.image{
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  margin-top: 10px;
}